@import "tailwindcss";

@theme {
  --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-background-ui: #0D9488;
  --color-logo-primary: #2abfad;
  --color-logo-stroke: #115E59;
  --color-text-stroke: #f6f6f6;
  --color-mid-gray: #808080;
}

:root {
  /* Typography */
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* Colors - Light Theme */
  /* --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-logo-primary: #FAA2CA;
  --color-logo-stroke: #382731;
  --color-text-stroke: #f6f6f6; */

  /* Typography settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Apply colors */
  color: var(--color-text);
  background-color: var(--color-background);
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors - Dark Theme */
    --color-text: #fbfbfb;
    --color-background: #2c2b29;
    --color-logo-primary: #15a593;
    --color-logo-stroke: #2abfad;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px var(--color-text-stroke);
  }
}

/* Range input thumb styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color-text);
  cursor: pointer;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color-text);
  cursor: pointer;
  border: none;
}

.logo-primary {
  fill: var(--color-logo-primary);
}

.logo-stroke {
  fill: var(--color-logo-stroke);
  stroke: var(--color-logo-stroke);
  stroke-width: 1;
}
